name: Deploy to GitHub Pages
on:
  push:
    branches:
      - gh-deploy-to-pages
permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install Poetry
        run: python -m pip install poetry
      - name: Install dependencies
        run: poetry install
      - name: Build docs
        run: poetry run mkdocs build
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: site
          target-folder: gecko
